In [1]:
#Installation
%pip install sqlalchemy
%pip install pymysql

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\fsarm\appdata\roaming\python\python311\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\fsarm\appdata\roaming\python\python311\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install --upgrade sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\fsarm\appdata\roaming\python\python311\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import text
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [6]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

# Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

- engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- month: an integer representing the month for which rental data is to be retrieved.
- year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [12]:
def rentals_month(engine,month=None,year=None):
    with engine.connect() as connection:
       query = text('select month(rental_date), year(rental_date) from rental')
       result = connection.execute(query)
    return pd.DataFrame(result.all())

In [13]:
rentals_month(engine)

       month(rental_date)  year(rental_date)
0                       5               2005
1                       5               2005
2                       5               2005
3                       5               2005
4                       5               2005
...                   ...                ...
16039                   2               2006
16040                   2               2006
16041                   2               2006
16042                   2               2006
16043                   2               2006

[16044 rows x 2 columns]

# Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

In [ ]:
def rental_count_month(rentals_month):